# Bulk grade students on canvas

In [4]:
from canvasapi import Canvas
from pprint import pprint
import os
import pandas as pd

## 0. Load assignment globals and filter valid and invalid submissions

In [2]:
API_URL = "https://canvas.ubc.ca/" # default is canvas.ubc
API_KEY = os.getenv("CANVAS_API")  # canvas.ubc instructor token
COURSE_CODE = 53659
canvas = Canvas(API_URL, API_KEY)
course = canvas.get_course(COURSE_CODE)

In [5]:
assignment_number = 664385
assignment = course.get_assignment(assignment_number)

rubric = (pd.DataFrame(assignment.rubric).set_index('id'))

all_submissions = list(assignment.get_submissions())
valid_submissions = [sub for sub in all_submissions if sub.submission_type is not None]
invalid_submission = [sub for sub in all_submissions if sub.submission_type is None]

autograde_rubric_id = rubric[rubric.description == "Autograded Exercises"].index.tolist()

In [6]:
# rubric.to_csv("../unmarked/rubric.csv")

## 1. Get perfect scores + autogrades

In [5]:
%%time
autograde_rubric_id = '_195'
scores = get_perfect(valid_submissions)
scores[autograde_rubric_id] = autograde(valid_submissions, autograde_rubric_id)

[Parallel(n_jobs=128)]: Using backend ThreadingBackend with 128 concurrent workers.
[Parallel(n_jobs=128)]: Done   4 out of 129 | elapsed:    5.8s remaining:  3.0min
[Parallel(n_jobs=128)]: Done  17 out of 129 | elapsed:    8.8s remaining:   57.9s
[Parallel(n_jobs=128)]: Done  30 out of 129 | elapsed:    9.6s remaining:   31.7s
[Parallel(n_jobs=128)]: Done  43 out of 129 | elapsed:   10.7s remaining:   21.3s
[Parallel(n_jobs=128)]: Done  56 out of 129 | elapsed:   11.3s remaining:   14.8s
[Parallel(n_jobs=128)]: Done  69 out of 129 | elapsed:   12.2s remaining:   10.6s
[Parallel(n_jobs=128)]: Done  82 out of 129 | elapsed:   13.2s remaining:    7.6s
[Parallel(n_jobs=128)]: Done  95 out of 129 | elapsed:   14.1s remaining:    5.0s
[Parallel(n_jobs=128)]: Done 108 out of 129 | elapsed:   16.2s remaining:    3.1s
[Parallel(n_jobs=128)]: Done 121 out of 129 | elapsed:   17.4s remaining:    1.2s

CPU times: user 11.4 s, sys: 3.73 s, total: 15.1 s
Wall time: 19.1 s

[Parallel(n_jobs=128)]: Done 129 out of 129 | elapsed:   19.0s finished

## 2. Save as csv, go through students submissions and change csv by hand using letter grades 
(points not good here bc each question has diff letter -> point mapping)

In [6]:
scores

       _4655 _7464 _3484 _8393 _522 _2766 _202 _9716 _3461 _195
1591      A+    A+    A+    A+   A+    A+   A+    A+    A+    9
3077      A+    A+    A+    A+   A+    A+   A+    A+    A+    0
3262      A+    A+    A+    A+   A+    A+   A+    A+    A+    9
15450     A+    A+    A+    A+   A+    A+   A+    A+    A+    9
16724     A+    A+    A+    A+   A+    A+   A+    A+    A+    9
...      ...   ...   ...   ...  ...   ...  ...   ...   ...  ...
564304    A+    A+    A+    A+   A+    A+   A+    A+    A+    9
566247    A+    A+    A+    A+   A+    A+   A+    A+    A+    9
566269    A+    A+    A+    A+   A+    A+   A+    A+    A+    9
566490    A+    A+    A+    A+   A+    A+   A+    A+    A+    8
570075    A+    A+    A+    A+   A+    A+   A+    A+    A+    0

[129 rows x 10 columns]

In [7]:
scores.to_csv("../unmarked/scores.csv")